# Cleaning data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json
import re

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("archive/steam_game_review.csv")
df = df.loc[:, ~df.columns.str.contains("^Unnamed")]
df

,appid,success,query_summary,reviews,cursor
0,1020470,1,"{'num_reviews': 2, 'review_score': 6, 'review_...","[{'recommendationid': '154413393', 'author': {...",AoIIPwYYaneoldUE
1,1018050,1,"{'num_reviews': 0, 'review_score': 0, 'review_...",[],*
2,1018060,1,"{'num_reviews': 0, 'review_score': 0, 'review_...",[],*
3,1018080,1,"{'num_reviews': 3, 'review_score': 0, 'review_...","[{'recommendationid': '55936147', 'author': {'...",AoIIAAAAAHTXjPUB
4,1018090,1,"{'num_reviews': 7, 'review_score': 0, 'review_...","[{'recommendationid': '49140086', 'author': {'...",AoIIAAAAAHOi3rYD
...,...,...,...,...,...
94021,1045590,1,"{'num_reviews': 0, 'review_score': 0, 'review_...",[],*
94022,1045600,1,"{'num_reviews': 0, 'review_score': 0, 'review_...",[],*
94023,1045610,1,"{'num_reviews': 2, 'review_score': 5, 'review_...","[{'recommendationid': '152497829', 'author': {...",AoIIPwAAAHqwhscE
94024,1045630,1,"{'num_reviews': 0, 'review_score': 0, 'review_...",[],*
94025,1045650,1,"{'num_reviews': 20, 'review_score': 8, 'review...","[{'recommendationid': '108778272', 'author': {...",AoIIPui6H3f3p+wB

In [4]:
df["success"].unique().shape, df["cursor"].unique().shape

((1,), (45370,))

In [5]:
df.drop(columns=["success", "cursor"], inplace=True)

## Convert from JSON (text) to columns

___

In [6]:
def simple_string_to_json(x, returning={}):
    if pd.isna(x):
        return returning
    else:
        return json.loads(x.replace("\'", "\""))

In [7]:
df["query_summary"] = df["query_summary"].apply(simple_string_to_json)
df["query_summary"]

0        {'num_reviews': 2, 'review_score': 6, 'review_...
1        {'num_reviews': 0, 'review_score': 0, 'review_...
2        {'num_reviews': 0, 'review_score': 0, 'review_...
3        {'num_reviews': 3, 'review_score': 0, 'review_...
4        {'num_reviews': 7, 'review_score': 0, 'review_...
                               ...
94021    {'num_reviews': 0, 'review_score': 0, 'review_...
94022    {'num_reviews': 0, 'review_score': 0, 'review_...
94023    {'num_reviews': 2, 'review_score': 5, 'review_...
94024    {'num_reviews': 0, 'review_score': 0, 'review_...
94025    {'num_reviews': 20, 'review_score': 8, 'review...
Name: query_summary, Length: 94026, dtype: object

In [12]:
def string_with_apostrophe_brute_force_to_json(x, returning={}):
	temp = ""
	try:
		temp = x.replace("\"", "'")			\
				.replace("'}", "\"}").replace("\\xa0", "")					\
				.replace("\\", "")											\
				.replace("'recommendationid': '",         "\"recommendationid\": \"")			\
				.replace("', 'author': {'steamid': '",    "\", \"author\": {\"steamid\": \"")	\
				.replace("', 'num_games_owned'",          "\", \"num_games_owned\"")			\
				.replace("'num_reviews'",                 "\"num_reviews\"")					\
				.replace("'playtime_forever'",            "\"playtime_forever\"")				\
				.replace("'playtime_at_review'",          "\"playtime_at_review\"")				\
				.replace("'playtime_last_two_weeks'",     "\"playtime_last_two_weeks\"")		\
				.replace("'last_played'",                 "\"last_played\"")					\
				.replace("'language': '",                 "\"language\": \"")					\
				.replace("'timestamp_updated'",           "\"timestamp_updated\"")				\
				.replace("'voted_up'",                    "\"voted_up\"")						\
				.replace("'votes_up'",                    "\"votes_up\"")						\
				.replace("'votes_funny'",                 "\"votes_funny\"")					\
				.replace("'weighted_vote_score'",         "\"weighted_vote_score\"")			\
				.replace("'comment_count'",               "\"comment_count\"")					\
				.replace("'steam_purchase'",              "\"steam_purchase\"")					\
				.replace("'received_for_free'",           "\"received_for_free\"")	 			\
				.replace("'written_during_early_access'", "\"written_during_early_access\"")	\
				.replace("'hidden_in_steam_china'",       "\"hidden_in_steam_china\"")			\
				.replace("'steam_china_location': '",     "\"steam_china_location\": \"")		\
				.replace("True", "true").replace("False", "false")

		temp = re.sub(r": '(\d+.?\d*)'", r': "\1"', temp)
		temp = re.sub(r"', 'review': ['\"]", "\", \"review\": \"", temp)
		temp = re.sub(r"['\"], 'timestamp_created'", "\", \"timestamp_created\"", temp)

		temp = temp.replace("\\'", "'")
		return json.loads(temp)		# Why can't load UNICODE properly

	except Exception as e:
		print(x)
		print(temp)
		print(e, '\n')
		return returning

In [15]:
count = 0

def string_with_apostrophe_to_json(x, returning={}):
	global count
	count += 1
	if count % 10000 == 0:
		print(count)
	
	if pd.isna(x):
		return returning
	else:
		temp = ""
		try:
			temp = x.replace("\"", "'").replace("\\'", "'")
			temp = re.sub(r"([\[\{\n]|[:,] )\'", r'\1"', temp)			# Left quotation mark: [ '[' '{' '\n' ': ' ]
			temp = re.sub(r"\'([\]\}\n:]|, \"|: \")", r'"\1', temp)		# Right quotation mark
			temp = temp.replace("True", "true").replace("False", "false")
			return json.loads(temp)
		except Exception as e:
			return string_with_apostrophe_brute_force_to_json(x, returning)


# string_with_apostrophe_to_json(df.loc[100, "reviews"])
# t = df["reviews"].apply(lambda x: string_with_apostrophe_to_json(x, []))
df["reviews"] = df["reviews"].apply(lambda x: string_with_apostrophe_to_json(x, []))

In [20]:
#df = df[df["reviews"].apply(lambda x: len(x) > 0)]

In [8]:
col_list = df.loc[0, "query_summary"].keys()
col_list

dict_keys(['num_reviews', 'review_score', 'review_score_desc', 'total_positive', 'total_negative', 'total_reviews'])

In [9]:
for col in col_list:
	df[col] = df["query_summary"].apply(lambda x: x[col])
df.drop(columns=["query_summary"], inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94026 entries, 0 to 94025
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   appid              94026 non-null  int64
 1   reviews            94026 non-null  object
 2   num_reviews        94026 non-null  int64
 3   review_score       94026 non-null  int64
 4   review_score_desc  94026 non-null  object
 5   total_positive     94026 non-null  int64
 6   total_negative     94026 non-null  int64
 7   total_reviews      94026 non-null  int64
dtypes: int64(6), object(2)
memory usage: 5.7+ MB

Fortunately, there is no empty value.

## Extract reviews

___

In [26]:
columns = df.loc[1029, "reviews"][0]["author"].keys()
columns

dict_keys(['steamid', 'num_games_owned', 'num_reviews', 'playtime_forever', 'playtime_last_two_weeks', 'playtime_at_review', 'last_played'])

In [27]:
pd.DataFrame.from_records(df.loc[0, "reviews"])

,recommendationid,author,language,review,timestamp_created,timestamp_updated,voted_up,votes_up,votes_funny,weighted_vote_score,comment_count,steam_purchase,received_for_free,written_during_early_access,hidden_in_steam_china,steam_china_location
0,154413393,"{'steamid': '76561198971613275', 'num_games_ow...",english,Evoland 3 wen?,1703552228,1703552228,True,2,1,0.528369247913360596,0,True,False,False,True,
1,156543623,"{'steamid': '76561198267303077', 'num_games_ow...",english,I'll be leaving the comment in English for bet...,1705924660,1705924660,True,1,0,0.523809552192687988,0,True,False,False,True,

In [44]:
# DO NOT RUN THIS SINCE IT WILL TALK 20 MINUTES TO FULLY COMPILE
df_review_clean = pd.DataFrame()

tiny_author = None

for i in range(df.shape[0]):
	i += 1
	if i % 3000 == 0:
		print(i)

	try:
		tiny_author = pd.DataFrame.from_records(df.loc[i, "reviews"])
		tiny_author["appid"] = df.loc[i, "appid"]
		if tiny_author.empty:
			continue
		for col in columns:
			tiny_author[col] = tiny_author["author"].apply(lambda x: x.get(col, None))
		tiny_author.drop(columns=["author"], inplace=True)
		df_review_clean = pd.concat([df_review_clean, tiny_author], axis=0)

	except Exception as e:
		print(i)
		print(tiny_author)
		print(e)


df_review_clean

3000
6000
9000
12000
15000
18000
21000
24000
27000
30000
33000
36000
39000
42000
45000
48000
51000
54000
57000
60000
63000
66000
69000
72000
75000
78000
81000
84000
87000
90000
93000
94026
   recommendationid language  \
0         108778272  english
1          50377239  english
2          65225574  english
3          70609466  english
4          49825224  english
5          51192716  english
6          49983377  english
7          77041914  english
8          76060023  english
9          69073364  english
10         64981685  english
11         50952534  english
12         52642850  english
13         50444814  english
14         49796613  english
15         49896966  english
16         50474577  english
17         86551407  english
18        130122557  english
19         61947767  english

                                               review  timestamp_created  \
0                               very nice, enjoyed it         1643144049
1   I remember playing a Nintendo 64 game called '...         1556486417
2   This game is the definition of perfection. You...         1584473234
3                        T'was good. Add multiplayer.         1591841682
4   Really cool game cant wait to see where it goe...         1553861561
5   its a funny random game a bit like BeamNG driv...         1560359788
6   This Game Is Good But maybe the drifting on it...         1554534442
7   super chill, super nice, 8/10, go buy. \nWant ...         1601838873
8                                             it good         1600248155
9   Pretty chill, you can go and do whatever you w...         1589387255
10  Yo just blast yourself into the wall at 200 mi...         1584127937
11                                Car goes vrrr......         1559205905
12  First things first: This game amuses me. I lik...         1561934138
13  This is a great game, RewindApp did a good job...         1556845152
14  Throwing the nice guy who put the table back (...         1553727801
15                                     Simple and Fun         1554138916
16        its a bad game but its not gay so that good         1556982400
17  [h1] Review: [/h1]\nI bought it because 0.39€ ...         1613229614
18  the car drifts for no reason, making the game ...         1672852164
19    Quite possibly the worst game I've ever played.         1579206117

    timestamp_updated  voted_up  votes_up  votes_funny   weighted_vote_score  \
0          1643144049      True        18            0  0.699656069278717041
1          1556486417      True        13            0   0.63493877649307251
2          1584473234      True         8            2   0.59583592414855957
3          1591841682      True         4            0  0.583333313465118408
4          1553861561      True         7            2  0.573643386363983154
5          1560359788      True         8            4  0.564613044261932373
6          1554534442      True         6            2  0.548788070678710938
7          1601838873      True         3            0  0.523809552192687988
8          1600248155      True         2            0  0.523809552192687988
9          1589387255      True         1            0  0.523809552192687988
10         1584127937      True         1            0  0.523809552192687988
11         1642415670      True         1            0  0.516129076480865479
12         1561934510     False        11            2  0.510429918766021729
13         1556845152      True         3            2  0.494491279125213623
14         1553727801      True         8            4  0.492088019847869873
15         1554138916      True         1            0  0.476877689361572266
16         1556982400      True         1            4  0.466409146785736084
17         1613229667     False         0            0  0.454661726951599121
18         1672852164     False         0            0  0.454545468091964722
19         1579206117     False         0            1  0.454545468091964722

    comment_count  ...  hidden_in_steam_china  steam_china_location    appid  \
0               0  ...                  False                        1045650
1               1  ...                  False                        1045650
2               1  ...                  False                        1045650
3               0  ...                  False                        1045650
4               1  ...                  False                        1045650
5               0  ...                  False                        1045650
6               0  ...                  False                        1045650
7               0  ...                  False                        1045650
8               0  ...                  False                        1045650
9               0  ...                  False                        1045650
10              0  ...                  False                        1045650
11              0  ...                  False                        1045650
12              1  ...                  False                        1045650
13              0  ...                  False                        1045650
14              0  ...                  False                        1045650
15              0  ...                  False                        1045650
16              0  ...                  False                        1045650
17              0  ...                  False                        1045650
18              0  ...                   True                        1045650
19              0  ...                  False                        1045650

              steamid num_games_owned  num_reviews playtime_forever  \
0   76561198200747775               0            1               14
1   76561198280616270               0           11               24
2   76561198437018075              85            8               36
3   76561198121122408               0           11              586
4   76561198003510325              51           19              112
5   76561198964500765               0           14                7
6   76561198861795021              29            8               11
7   76561198343020997             203           64               48
8   76561198031125791               0            8             1066
9   76561198188864751             239           10              146
10  76561198087706186             981           10               11
11  76561198106878052               0           68                5
12  76561198019164019               0            5              196
13  76561197990354493               0          794               11
14  76561198082848099             390           70              119
15  76561198370598894               0            4              347
16  76561198200188689              99           38               25
17  76561198418292141             770           13               15
18  76561199137672724               0           12               53
19  76561198261293204               0            2               23

    playtime_last_two_weeks  playtime_at_review  last_played
0                         0                  14   1643143977
1                         0                  24   1556485561
2                         0                  12   1584992607
3                         0                 373   1606784604
4                         0                  24   1658003373
5                         0                   7   1560301663
6                         0                  11   1554284068
7                         0                  31   1603961316
8                         0                 793   1686746069
9                         0                  34   1674761961
10                        0                  11   1584117031
11                        0                   5   1559205854
12                        0                 183   1671460608
13                        0                  11   1556837428
14                        0                  60   1670597912
15                        0                  32   1645556008
16                        0                  22   1605293404
17                        0                  15   1613228000
18                        0                  35   1672853552
19                        0                  23   1579206033

[20 rows x 23 columns]
94026

,recommendationid,language,review,timestamp_created,timestamp_updated,voted_up,votes_up,votes_funny,weighted_vote_score,comment_count,...,appid,steamid,num_games_owned,num_reviews,playtime_forever,playtime_last_two_weeks,playtime_at_review,last_played,timestamp_dev_responded,developer_response
0,55936147,english,A fun and quirky stealth-based problem solving...,1572489221,1572489221,True,2,0,0.554140150547027588,0,...,1018080,76561198051821837,0,12,41,0,41,1572483146,NaN,NaN
1,55989797,english,"Loved the art style, and the game ran very smo...",1572523060,1572523060,True,1,0,0.523809552192687988,0,...,1018080,76561197993790846,657,8,17,0,15,1572773870,NaN,NaN
2,64251252,english,the game crashed four times for one hour.... i...,1582906915,1582907209,False,0,0,0,0,...,1018080,76561198095855343,1254,24,76,0,76,1582906567,NaN,NaN
0,49140086,english,While I cannot recommend this Unity asset reli...,1550764336,1550764336,False,16,0,0.624971091747283936,0,...,1018090,76561198053422627,2384,1225,56,0,56,1550955553,NaN,NaN
1,49137406,english,Is extremely unoptimized and has laggy framera...,1550754621,1550754621,False,11,0,0.527824163436889648,0,...,1018090,76561198019816374,1351,1674,10,0,10,1550748455,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,49896966,english,Simple and Fun,1554138916,1554138916,True,1,0,0.476877689361572266,0,...,1045650,76561198370598894,0,4,347,0,32,1645556008,NaN,NaN
16,50474577,english,its a bad game but its not gay so that good,1556982400,1556982400,True,1,4,0.466409146785736084,0,...,1045650,76561198200188689,99,38,25,0,22,1605293404,NaN,NaN
17,86551407,english,[h1] Review: [/h1]\nI bought it because 0.39€ ...,1613229614,1613229667,False,0,0,0.454661726951599121,0,...,1045650,76561198418292141,770,13,15,0,15,1613228000,NaN,NaN
18,130122557,english,"the car drifts for no reason, making the game ...",1672852164,1672852164,False,0,0,0.454545468091964722,0,...,1045650,76561199137672724,0,12,53,0,35,1672853552,NaN,NaN
19,61947767,english,Quite possibly the worst game I've ever played.,1579206117,1579206117,False,0,1,0.454545468091964722,0,...,1045650,76561198261293204,0,2,23,0,23,1579206033,NaN,NaN

In [8]:
# df_review_clean.to_csv("archive/cleaned_reviews_v1.csv")
df_review_clean = pd.read_csv("archive/cleaned_reviews_v1.csv")
df_review_clean = df_review_clean.loc[:, ~df_review_clean.columns.str.contains("^Unnamed")]

It's safe to drop the feature with huge storage memory

In [11]:
df.drop(columns=["reviews"], inplace=True)

In [13]:
df.head()

,appid,num_reviews,review_score,review_score_desc,total_positive,total_negative,total_reviews
0,1020470,2,6,Mostly Positive,360,106,466
1,1018050,0,0,No user reviews,0,0,0
2,1018060,0,0,No user reviews,0,0,0
3,1018080,3,0,3 user reviews,2,1,3
4,1018090,7,0,7 user reviews,1,6,7

In [14]:
df.to_csv("archive/cleaned_bridge.csv")

In [9]:
df_review_clean.reset_index(drop=True, inplace=True)
df_review_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299341 entries, 0 to 299340
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   recommendationid             299341 non-null  int64
 1   language                     299341 non-null  object
 2   review                       299220 non-null  object
 3   timestamp_created            299341 non-null  int64
 4   timestamp_updated            299341 non-null  int64
 5   voted_up                     299341 non-null  bool
 6   votes_up                     299341 non-null  int64
 7   votes_funny                  299341 non-null  int64
 8   weighted_vote_score          299341 non-null  float64
 9   comment_count                299341 non-null  int64
 10  steam_purchase               299341 non-null  bool
 11  received_for_free            299341 non-null  bool
 12  written_during_early_access  299341 non-null  bool
 13  hidden_in_steam_china        299341 non-null  bool
 14  steam_china_location         1216 non-null    object
 15  appid                        299341 non-null  int64
 16  steamid                      299341 non-null  int64
 17  num_games_owned              299341 non-null  int64
 18  num_reviews                  299341 non-null  int64
 19  playtime_forever             299341 non-null  int64
 20  playtime_last_two_weeks      299341 non-null  int64
 21  playtime_at_review           230039 non-null  float64
 22  last_played                  299341 non-null  int64
 23  timestamp_dev_responded      6581 non-null    float64
 24  developer_response           6581 non-null    object
dtypes: bool(5), float64(3), int64(13), object(4)
memory usage: 47.1+ MB

## Null treatment

___

In [10]:
# Lots of empty values
df_review_clean.drop(columns=["timestamp_dev_responded", "developer_response", "steam_china_location"], inplace=True)

Before filling null to `playtime_at_review`, let's see the data distribution

In [6]:
from collections import Counter
Counter(df_review_clean["playtime_at_review"].sort_values())

Counter({6.0: 3002,
         5.0: 2821,
         7.0: 2608,
         10.0: 2400,
         8.0: 2395,
         9.0: 2361,
         11.0: 2276,
         13.0: 2129,
         30.0: 2102,
         12.0: 2051,
         15.0: 1967,
         14.0: 1932,
         16.0: 1833,
         17.0: 1690,
         18.0: 1689,
         19.0: 1680,
         20.0: 1658,
         21.0: 1579,
         22.0: 1567,
         23.0: 1458,
         24.0: 1417,
         25.0: 1417,
         26.0: 1413,
         27.0: 1398,
         28.0: 1292,
         33.0: 1284,
         60.0: 1283,
         29.0: 1268,
         31.0: 1241,
         32.0: 1187,
         35.0: 1151,
         34.0: 1111,
         36.0: 1102,
         37.0: 1099,
         38.0: 1039,
         39.0: 1030,
         40.0: 1003,
         44.0: 989,
         41.0: 984,
         42.0: 958,
         45.0: 944,
         46.0: 939,
         43.0: 919,
         48.0: 905,
         47.0: 904,
         51.0: 841,
         61.0: 836,
         50.0: 835,
         49.0: 818,
         63.0: 813,
         55.0: 809,
         52.0: 800,
         54.0: 791,
         53.0: 789,
         64.0: 778,
         57.0: 775,
         62.0: 772,
         90.0: 769,
         58.0: 764,
         65.0: 760,
         56.0: 756,
         59.0: 756,
         67.0: 741,
         68.0: 727,
         66.0: 720,
         69.0: 720,
         70.0: 716,
         74.0: 716,
         72.0: 707,
         75.0: 648,
         73.0: 646,
         82.0: 640,
         78.0: 634,
         71.0: 633,
         76.0: 627,
         91.0: 622,
         77.0: 603,
         79.0: 601,
         81.0: 599,
         80.0: 583,
         83.0: 583,
         86.0: 579,
         89.0: 575,
         84.0: 573,
         93.0: 564,
         87.0: 558,
         88.0: 556,
         85.0: 553,
         121.0: 544,
         120.0: 533,
         97.0: 528,
         92.0: 518,
         96.0: 517,
         95.0: 514,
         94.0: 502,
         105.0: 488,
         101.0: 481,
         99.0: 476,
         98.0: 465,
         104.0: 464,
         109.0: 462,
         100.0: 454,
         108.0: 448,
         129.0: 440,
         124.0: 439,
         125.0: 438,
         106.0: 436,
         102.0: 435,
         115.0: 430,
         107.0: 429,
         128.0: 429,
         127.0: 425,
         111.0: 424,
         117.0: 424,
         122.0: 422,
         119.0: 420,
         110.0: 419,
         114.0: 416,
         126.0: 416,
         116.0: 414,
         103.0: 413,
         151.0: 413,
         112.0: 409,
         118.0: 404,
         131.0: 395,
         130.0: 389,
         113.0: 387,
         150.0: 387,
         123.0: 386,
         181.0: 382,
         133.0: 370,
         132.0: 369,
         142.0: 361,
         134.0: 360,
         141.0: 358,
         135.0: 357,
         140.0: 356,
         143.0: 352,
         182.0: 352,
         137.0: 343,
         145.0: 343,
         146.0: 342,
         139.0: 339,
         136.0: 338,
         153.0: 338,
         155.0: 337,
         138.0: 336,
         180.0: 336,
         149.0: 325,
         154.0: 325,
         186.0: 320,
         193.0: 320,
         147.0: 319,
         144.0: 318,
         152.0: 317,
         158.0: 316,
         148.0: 315,
         187.0: 313,
         190.0: 312,
         185.0: 311,
         191.0: 309,
         166.0: 308,
         200.0: 308,
         183.0: 307,
         189.0: 307,
         198.0: 307,
         184.0: 306,
         211.0: 305,
         156.0: 302,
         167.0: 301,
         210.0: 301,
         159.0: 300,
         202.0: 299,
         161.0: 296,
         192.0: 294,
         188.0: 293,
         164.0: 291,
         195.0: 289,
         207.0: 289,
         199.0: 288,
         214.0: 288,
         173.0: 287,
         176.0: 287,
         162.0: 286,
         194.0: 285,
         160.0: 284,
         168.0: 284,
         170.0: 284,
         172.0: 284,
         212.0: 284,
         178.0: 281,
         197.0: 279,
         205.0: 279,
         163.0: 278,
         203.0: 278,
         157.0: 275,
         215.0: 275,
         223.0: 275,
         196.0: 274,
         165.0: 273,
         204.0: 272,
         169.0: 269,
         208.0: 267,
         220.0: 267,
         174.0: 266,
         213.0: 264,
         201.0: 263,
         171.0: 262,
         175.0: 261,
         209.0: 261,
         232.0: 261,
         216.0: 260,
         229.0: 258,
         242.0: 258,
         241.0: 256,
         218.0: 254,
         217.0: 252,
         177.0: 246,
         221.0: 246,
         206.0: 245,
         228.0: 244,
         219.0: 243,
         231.0: 243,
         235.0: 241,
         222.0: 237,
         234.0: 236,
         179.0: 235,
         230.0: 234,
         239.0: 234,
         250.0: 234,
         233.0: 233,
         244.0: 230,
         225.0: 228,
         255.0: 227,
         227.0: 226,
         247.0: 226,
         243.0: 223,
         224.0: 222,
         226.0: 222,
         269.0: 222,
         248.0: 220,
         249.0: 219,
         252.0: 219,
         237.0: 218,
         256.0: 216,
         270.0: 214,
         272.0: 213,
         251.0: 212,
         236.0: 211,
         245.0: 209,
         246.0: 209,
         265.0: 208,
         262.0: 203,
         268.0: 202,
         257.0: 201,
         240.0: 200,
         238.0: 199,
         274.0: 199,
         260.0: 197,
         277.0: 197,
         264.0: 196,
         280.0: 196,
         302.0: 196,
         259.0: 193,
         271.0: 192,
         254.0: 191,
         276.0: 190,
         266.0: 188,
         253.0: 187,
         278.0: 187,
         279.0: 184,
         258.0: 183,
         273.0: 183,
         286.0: 183,
         294.0: 183,
         275.0: 182,
         283.0: 181,
         261.0: 178,
         285.0: 176,
         263.0: 173,
         287.0: 173,
         303.0: 170,
         267.0: 169,
         293.0: 169,
         289.0: 168,
         291.0: 167,
         308.0: 167,
         309.0: 167,
         282.0: 166,
         333.0: 164,
         299.0: 161,
         284.0: 160,
         304.0: 160,
         311.0: 160,
         327.0: 160,
         325.0: 159,
         290.0: 158,
         318.0: 157,
         298.0: 156,
         281.0: 155,
         288.0: 154,
         301.0: 152,
         300.0: 151,
         321.0: 151,
         323.0: 151,
         297.0: 150,
         315.0: 150,
         305.0: 149,
         307.0: 149,
         320.0: 149,
         322.0: 148,
         332.0: 148,
         292.0: 147,
         296.0: 147,
         316.0: 147,
         329.0: 145,
         313.0: 144,
         317.0: 144,
         343.0: 143,
         353.0: 143,
         295.0: 142,
         340.0: 142,
         341.0: 142,
         330.0: 141,
         336.0: 141,
         347.0: 138,
         319.0: 137,
         324.0: 137,
         361.0: 136,
         356.0: 135,
         326.0: 134,
         335.0: 134,
         357.0: 134,
         342.0: 133,
         310.0: 132,
         331.0: 132,
         350.0: 132,
         314.0: 131,
         328.0: 131,
         344.0: 131,
         378.0: 131,
         306.0: 130,
         349.0: 129,
         363.0: 129,
         365.0: 129,
         334.0: 128,
         351.0: 128,
         354.0: 128,
         368.0: 128,
         386.0: 128,
         312.0: 127,
         364.0: 127,
         362.0: 126,
         366.0: 126,
         346.0: 125,
         358.0: 125,
         380.0: 125,
         383.0: 121,
         338.0: 120,
         355.0: 119,
         352.0: 118,
         375.0: 117,
         348.0: 116,
         359.0: 115,
         360.0: 115,
         367.0: 115,
         387.0: 115,
         403.0: 115,
         407.0: 114,
         414.0: 114,
         337.0: 113,
         339.0: 113,
         372.0: 113,
         376.0: 113,
         389.0: 113,
         345.0: 112,
         393.0: 112,
         396.0: 112,
         406.0: 112,
         431.0: 112,
         392.0: 111,
         369.0: 110,
         385.0: 110,
         395.0: 108,
         400.0: 108,
         377.0: 107,
         381.0: 107,
         394.0: 107,
         467.0: 107,
         371.0: 106,
         466.0: 106,
         373.0: 105,
         390.0: 105,
         423.0: 105,
         424.0: 105,
         443.0: 105,
         388.0: 104,
         457.0: 104,
         465.0: 104,
         384.0: 103,
         405.0: 103,
         412.0: 103,
         422.0: 103,
         408.0: 102,
         418.0: 102,
         401.0: 101,
         370.0: 100,
         374.0: 100,
         410.0: 100,
         469.0: 100,
         498.0: 100,
         397.0: 99,
         426.0: 99,
         452.0: 99,
         470.0: 99,
         391.0: 97,
         379.0: 96,
         404.0: 96,
         432.0: 96,
         445.0: 96,
         402.0: 95,
         413.0: 95,
         419.0: 95,
         425.0: 95,
         427.0: 95,
         449.0: 95,
         450.0: 95,
         488.0: 95,
         440.0: 94,
         398.0: 93,
         411.0: 93,
         429.0: 93,
         453.0: 93,
         468.0: 93,
         437.0: 92,
         446.0: 92,
         481.0: 92,
         480.0: 91,
         382.0: 90,
         451.0: 90,
         409.0: 89,
         428.0: 89,
         435.0: 89,
         439.0: 89,
         456.0: 89,
         417.0: 88,
         472.0: 88,
         475.0: 88,
         478.0: 88,
         444.0: 87,
         434.0: 86,
         438.0: 86,
         454.0: 86,
         471.0: 86,
         399.0: 85,
         476.0: 85,
         486.0: 85,
         502.0: 85,
         464.0: 84,
         474.0: 84,
         504.0: 84,
         535.0: 84,
         433.0: 83,
         485.0: 83,
         494.0: 83,
         516.0: 83,
         517.0: 83,
         415.0: 82,
         441.0: 82,
         458.0: 82,
         484.0: 82,
         491.0: 82,
         515.0: 82,
         487.0: 81,
         493.0: 81,
         500.0: 81,
         420.0: 80,
         455.0: 80,
         461.0: 80,
         531.0: 80,
         499.0: 79,
         508.0: 79,
         513.0: 79,
         416.0: 78,
         473.0: 78,
         512.0: 78,
         447.0: 77,
         448.0: 77,
         501.0: 77,
         524.0: 77,
         538.0: 77,
         497.0: 76,
         536.0: 76,
         590.0: 76,
         609.0: 76,
         631.0: 76,
         430.0: 75,
         460.0: 75,
         492.0: 75,
         610.0: 75,
         635.0: 75,
         459.0: 74,
         463.0: 74,
         477.0: 74,
         541.0: 74,
         577.0: 74,
         436.0: 73,
         442.0: 73,
         479.0: 73,
         509.0: 73,
         534.0: 73,
         421.0: 72,
         519.0: 72,
         570.0: 72,
         588.0: 72,
         482.0: 71,
         542.0: 71,
         559.0: 71,
         598.0: 71,
         490.0: 70,
         496.0: 70,
         533.0: 70,
         537.0: 70,
         550.0: 70,
         587.0: 70,
         600.0: 70,
         528.0: 69,
         529.0: 69,
         554.0: 69,
         560.0: 69,
         578.0: 69,
         506.0: 68,
         520.0: 68,
         523.0: 68,
         526.0: 68,
         547.0: 68,
         573.0: 68,
         575.0: 68,
         611.0: 68,
         489.0: 67,
         514.0: 67,
         530.0: 67,
         561.0: 67,
         565.0: 67,
         495.0: 66,
         562.0: 66,
         564.0: 66,
         462.0: 65,
         503.0: 65,
         525.0: 65,
         544.0: 65,
         569.0: 65,
         619.0: 65,
         625.0: 65,
         568.0: 64,
         597.0: 64,
         606.0: 64,
         483.0: 63,
         556.0: 63,
         581.0: 63,
         583.0: 63,
         628.0: 63,
         665.0: 63,
         521.0: 62,
         546.0: 62,
         548.0: 62,
         567.0: 62,
         594.0: 62,
         613.0: 62,
         648.0: 62,
         727.0: 62,
         507.0: 61,
         510.0: 61,
         585.0: 61,
         589.0: 61,
         596.0: 61,
         602.0: 61,
         615.0: 61,
         626.0: 61,
         654.0: 61,
         540.0: 60,
         551.0: 60,
         552.0: 60,
         605.0: 60,
         607.0: 60,
         618.0: 60,
         636.0: 60,
         553.0: 59,
         572.0: 59,
         579.0: 59,
         582.0: 59,
         593.0: 59,
         608.0: 59,
         624.0: 59,
         664.0: 59,
         695.0: 59,
         522.0: 58,
         539.0: 58,
         549.0: 58,
         637.0: 58,
         669.0: 58,
         697.0: 58,
         518.0: 57,
         555.0: 57,
         558.0: 57,
         586.0: 57,
         612.0: 57,
         629.0: 57,
         655.0: 57,
         666.0: 57,
         599.0: 56,
         604.0: 56,
         673.0: 56,
         563.0: 55,
         649.0: 55,
         650.0: 55,
         657.0: 55,
         672.0: 55,
         511.0: 54,
         532.0: 54,
         543.0: 54,
         545.0: 54,
         557.0: 54,
         617.0: 54,
         643.0: 54,
         667.0: 54,
         671.0: 54,
         676.0: 54,
         595.0: 53,
         603.0: 53,
         633.0: 53,
         634.0: 53,
         642.0: 53,
         647.0: 53,
         707.0: 53,
         716.0: 53,
         732.0: 53,
         576.0: 52,
         630.0: 52,
         632.0: 52,
         690.0: 52,
         566.0: 51,
         614.0: 51,
         620.0: 51,
         627.0: 51,
         641.0: 51,
         646.0: 51,
         659.0: 51,
         675.0: 51,
         683.0: 51,
         686.0: 51,
         692.0: 51,
         777.0: 51,
         623.0: 50,
         701.0: 50,
         706.0: 50,
         737.0: 50,
         527.0: 49,
         571.0: 49,
         580.0: 49,
         584.0: 49,
         591.0: 49,
         622.0: 49,
         653.0: 49,
         746.0: 49,
         747.0: 49,
         784.0: 49,
         601.0: 48,
         640.0: 48,
         662.0: 48,
         766.0: 48,
         782.0: 48,
         901.0: 48,
         505.0: 47,
         638.0: 47,
         658.0: 47,
         689.0: 47,
         705.0: 47,
         710.0: 47,
         711.0: 47,
         722.0: 47,
         729.0: 47,
         776.0: 47,
         574.0: 46,
         616.0: 46,
         652.0: 46,
         712.0: 46,
         713.0: 46,
         714.0: 46,
         721.0: 46,
         728.0: 46,
         736.0: 46,
         757.0: 46,
         797.0: 46,
         801.0: 46,
         592.0: 45,
         656.0: 45,
         668.0: 45,
         682.0: 45,
         696.0: 45,
         731.0: 45,
         1.0: 44,
         670.0: 44,
         688.0: 44,
         700.0: 44,
         708.0: 44,
         709.0: 44,
         724.0: 44,
         735.0: 44,
         645.0: 43,
         663.0: 43,
         677.0: 43,
         718.0: 43,
         730.0: 43,
         745.0: 43,
         764.0: 43,
         768.0: 43,
         819.0: 43,
         858.0: 43,
         863.0: 43,
         651.0: 42,
         660.0: 42,
         680.0: 42,
         723.0: 42,
         733.0: 42,
         734.0: 42,
         759.0: 42,
         769.0: 42,
         807.0: 42,
         811.0: 42,
         621.0: 41,
         639.0: 41,
         691.0: 41,
         703.0: 41,
         704.0: 41,
         750.0: 41,
         755.0: 41,
         813.0: 41,
         857.0: 41,
         661.0: 40,
         699.0: 40,
         744.0: 40,
         762.0: 40,
         763.0: 40,
         781.0: 40,
         783.0: 40,
         785.0: 40,
         796.0: 40,
         805.0: 40,
         823.0: 40,
         824.0: 40,
         862.0: 40,
         2.0: 39,
         3.0: 39,
         679.0: 39,
         681.0: 39,
         738.0: 39,
         818.0: 39,
         678.0: 38,
         715.0: 38,
         719.0: 38,
         725.0: 38,
         741.0: 38,
         751.0: 38,
         758.0: 38,
         765.0: 38,
         774.0: 38,
         775.0: 38,
         787.0: 38,
         822.0: 38,
         866.0: 38,
         1002.0: 38,
         4.0: 37,
         685.0: 37,
         694.0: 37,
         720.0: 37,
         739.0: 37,
         748.0: 37,
         820.0: 37,
         849.0: 37,
         850.0: 37,
         860.0: 37,
         978.0: 37,
         992.0: 37,
         1089.0: 37,
         687.0: 36,
         693.0: 36,
         698.0: 36,
         761.0: 36,
         793.0: 36,
         800.0: 36,
         803.0: 36,
         808.0: 36,
         814.0: 36,
         815.0: 36,
         827.0: 36,
         844.0: 36,
         864.0: 36,
         888.0: 36,
         946.0: 36,
         972.0: 36,
         684.0: 35,
         743.0: 35,
         770.0: 35,
         772.0: 35,
         778.0: 35,
         780.0: 35,
         788.0: 35,
         806.0: 35,
         865.0: 35,
         906.0: 35,
         914.0: 35,
         1021.0: 35,
         1052.0: 35,
         702.0: 34,
         726.0: 34,
         760.0: 34,
         812.0: 34,
         816.0: 34,
         825.0: 34,
         830.0: 34,
         847.0: 34,
         851.0: 34,
         877.0: 34,
         878.0: 34,
         884.0: 34,
         889.0: 34,
         927.0: 34,
         950.0: 34,
         1016.0: 34,
         644.0: 33,
         717.0: 33,
         754.0: 33,
         779.0: 33,
         789.0: 33,
         792.0: 33,
         795.0: 33,
         809.0: 33,
         810.0: 33,
         821.0: 33,
         831.0: 33,
         834.0: 33,
         837.0: 33,
         848.0: 33,
         915.0: 33,
         939.0: 33,
         1010.0: 33,
         1198.0: 33,
         674.0: 32,
         742.0: 32,
         786.0: 32,
         798.0: 32,
         845.0: 32,
         880.0: 32,
         883.0: 32,
         897.0: 32,
         900.0: 32,
         904.0: 32,
         910.0: 32,
         916.0: 32,
         922.0: 32,
         973.0: 32,
         988.0: 32,
         1031.0: 32,
         1033.0: 32,
         1038.0: 32,
         753.0: 31,
         756.0: 31,
         829.0: 31,
         840.0: 31,
         869.0: 31,
         934.0: 31,
         752.0: 30,
         773.0: 30,
         832.0: 30,
         835.0: 30,
         839.0: 30,
         841.0: 30,
         855.0: 30,
         861.0: 30,
         868.0: 30,
         885.0: 30,
         892.0: 30,
         899.0: 30,
         908.0: 30,
         932.0: 30,
         945.0: 30,
         960.0: 30,
         963.0: 30,
         970.0: 30,
         977.0: 30,
         1103.0: 30,
         1173.0: 30,
         767.0: 29,
         828.0: 29,
         854.0: 29,
         856.0: 29,
         867.0: 29,
         887.0: 29,
         890.0: 29,
         902.0: 29,
         909.0: 29,
         911.0: 29,
         912.0: 29,
         929.0: 29,
         931.0: 29,
         937.0: 29,
         944.0: 29,
         951.0: 29,
         958.0: 29,
         964.0: 29,
         975.0: 29,
         1160.0: 29,
         740.0: 28,
         817.0: 28,
         842.0: 28,
         853.0: 28,
         872.0: 28,
         893.0: 28,
         907.0: 28,
         913.0: 28,
         943.0: 28,
         959.0: 28,
         968.0: 28,
         984.0: 28,
         1017.0: 28,
         1018.0: 28,
         1029.0: 28,
         1030.0: 28,
         1119.0: 28,
         799.0: 27,
         804.0: 27,
         852.0: 27,
         870.0: 27,
         871.0: 27,
         891.0: 27,
         895.0: 27,
         917.0: 27,
         935.0: 27,
         936.0: 27,
         938.0: 27,
         947.0: 27,
         1015.0: 27,
         1034.0: 27,
         1054.0: 27,
         1055.0: 27,
         1057.0: 27,
         1079.0: 27,
         1091.0: 27,
         1096.0: 27,
         1159.0: 27,
         1176.0: 27,
         1265.0: 27,
         1286.0: 27,
         771.0: 26,
         791.0: 26,
         794.0: 26,
         826.0: 26,
         875.0: 26,
         876.0: 26,
         903.0: 26,
         920.0: 26,
         941.0: 26,
         957.0: 26,
         966.0: 26,
         971.0: 26,
         986.0: 26,
         987.0: 26,
         1004.0: 26,
         1011.0: 26,
         1022.0: 26,
         1025.0: 26,
         1039.0: 26,
         1045.0: 26,
         1050.0: 26,
         1094.0: 26,
         1133.0: 26,
         1149.0: 26,
         1199.0: 26,
         836.0: 25,

The most frequent value is `6`. However, the number of empty values are 67780. This means filling null with `6` doesn't make sense.

Let's try filling null with a simple machine learning model. Since it's a quick filling, it's better to use a high accurate model.

In [48]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [49]:
feature_table = df_review_clean[['voted_up', 'votes_up', 'votes_funny',
						 'comment_count', 'num_games_owned', 'num_reviews',
						 'playtime_forever', 'playtime_last_two_weeks', 'timestamp_created', 'playtime_at_review']]

train_feature_table = feature_table[feature_table["playtime_at_review"].notna()]
test_feature_table  = feature_table[feature_table["playtime_at_review"].isna()]

X_train, X_test, y_train, y_test = train_test_split(train_feature_table.drop(columns=["playtime_at_review"]), train_feature_table["playtime_at_review"])

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((172529, 9), (57510, 9), (172529,), (57510,))

In [55]:
r2_score_save = {}
model_save = {}

for i in range(2, 10):
	tree_model = DecisionTreeRegressor(max_depth=i)
	tree_model.fit(X_train, y_train)
	y_pred = tree_model.predict(X_test)
	r2_score_save[i] = r2_score(y_test, y_pred)
	model_save[i] = tree_model

r2_score_save

{2: 0.32008022017552407,
 3: 0.11618521832603612,
 4: 0.13341820563534168,
 5: 0.8321167670047849,
 6: -0.07676525987167837,
 7: 0.33120855669347005,
 8: 0.8289659663942521,
 9: 0.5213046576700924}

Since decision tree can encounter overfitting, we need to select the case which has high R2 score at prediction.

In [58]:
best_depth = max(r2_score_save, key=r2_score_save.get)
test_feature_table["playtime_at_review"] = model_save[best_depth].predict(test_feature_table.drop(columns=["playtime_at_review"]))

And fill the empty values

In [62]:
for i in test_feature_table.index:
	df_review_clean.loc[i, "playtime_at_review"] = test_feature_table.loc[i, "playtime_at_review"]

df_review_clean["playtime_at_review"].isna().sum()

0

Fill the empty review with empty string

In [66]:
df_review_clean["review"].fillna("", inplace=True)

In [67]:
df_review_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299341 entries, 0 to 299340
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   recommendationid             299341 non-null  int64
 1   language                     299341 non-null  object
 2   review                       299341 non-null  object
 3   timestamp_created            299341 non-null  int64
 4   timestamp_updated            299341 non-null  int64
 5   voted_up                     299341 non-null  bool
 6   votes_up                     299341 non-null  int64
 7   votes_funny                  299341 non-null  int64
 8   weighted_vote_score          299341 non-null  float64
 9   comment_count                299341 non-null  int64
 10  steam_purchase               299341 non-null  bool
 11  received_for_free            299341 non-null  bool
 12  written_during_early_access  299341 non-null  bool
 13  hidden_in_steam_china        299341 non-null  bool
 14  appid                        299341 non-null  int64
 15  steamid                      299341 non-null  int64
 16  num_games_owned              299341 non-null  int64
 17  num_reviews                  299341 non-null  int64
 18  playtime_forever             299341 non-null  int64
 19  playtime_last_two_weeks      299341 non-null  int64
 20  playtime_at_review           299341 non-null  float64
 21  last_played                  299341 non-null  int64
dtypes: bool(5), float64(2), int64(13), object(2)
memory usage: 40.3+ MB

## Type rectification

___

In [69]:
# Drop unnecessary features
df_review_clean.drop(columns=["hidden_in_steam_china"], inplace=True)

In [70]:
# Weighted -> number
df_review_clean["weighted_vote_score"] = df_review_clean["weighted_vote_score"].astype(float)
# ID should be a string
df_review_clean["appid"] = df_review_clean["appid"].astype(str)

In [76]:
df_review_clean["timestamp_created"] = pd.to_datetime(df_review_clean["timestamp_created"], unit='s')
df_review_clean["timestamp_updated"] = pd.to_datetime(df_review_clean["timestamp_updated"], unit='s')
df_review_clean["last_played"] = pd.to_datetime(df_review_clean["last_played"], unit='s')
df_review_clean[["timestamp_created", "timestamp_updated", "last_played"]].head()

    timestamp_created   timestamp_updated         last_played
0 2019-10-31 02:33:41 2019-10-31 02:33:41 2019-10-31 00:52:26
1 2019-10-31 11:57:40 2019-10-31 11:57:40 2019-11-03 09:37:50
2 2020-02-28 16:21:55 2020-02-28 16:26:49 2020-02-28 16:16:07
3 2019-02-21 15:52:16 2019-02-21 15:52:16 2019-02-23 20:59:13
4 2019-02-21 13:10:21 2019-02-21 13:10:21 2019-02-21 11:27:35

In [23]:
# Drop this column as well since it only has one kind of value
print(df_review_clean["language"].unique())
df_review_clean.drop(columns=["language"], inplace=True)

['english']

## Finish

___

In [24]:
df_review_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299341 entries, 0 to 299340
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   recommendationid             299341 non-null  int64
 1   review                       299220 non-null  object
 2   timestamp_created            299341 non-null  object
 3   timestamp_updated            299341 non-null  object
 4   voted_up                     299341 non-null  bool
 5   votes_up                     299341 non-null  int64
 6   votes_funny                  299341 non-null  int64
 7   weighted_vote_score          299341 non-null  float64
 8   comment_count                299341 non-null  int64
 9   steam_purchase               299341 non-null  bool
 10  received_for_free            299341 non-null  bool
 11  written_during_early_access  299341 non-null  bool
 12  appid                        299341 non-null  int64
 13  steamid                      299341 non-null  int64
 14  num_games_owned              299341 non-null  int64
 15  num_reviews                  299341 non-null  int64
 16  playtime_forever             299341 non-null  int64
 17  playtime_last_two_weeks      299341 non-null  int64
 18  playtime_at_review           299341 non-null  float64
 19  last_played                  299341 non-null  object
dtypes: bool(4), float64(2), int64(10), object(4)
memory usage: 37.7+ MB

In [26]:
df_review_clean.to_csv("archive/cleaned_reviews_v2.csv", index=False)